@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
/* 여백 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.inner {
  padding: 0 30px;
}

/* 스크롤 초기화 */
body {
  overflow-x: hidden;
}

/* 폰트 초기화 */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body, input, textarea, select, button, table {
  font-family: "Nanum Myeongjo", serif, "Chosunilbo_myungjo", serif, sans-serif;
  color: #2E3828;
  line-height: 1.618;
  letter-spacing: 0.5px;
}

/* 제목태그 초기화 */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.4rem;
  color: #2E3828;
  font-weight: normal;
}

/* a 링크 초기화 */
a {
  text-decoration: none;
  color: #2E3828;
}

a:hover {
  color: #111;
}

/* 블릿기호 초기화 */
ul, li, ol {
  list-style: none;
}

/* 폰트 스타일 초기화 */
em, address {
  font-style: normal;
}

/* 버튼 초기화 */
button {
  border: 0;
}

body, a, button {
  cursor: none;
}

/* 테두리 초기화 */
img, fieldset {
  border: 0 none;
}

/* 반응형 이미지 */
img, video {
  width: 100%;
}

/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* IR 효과 */
.ir_so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
.cursor {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #2E3828;
  opacity: 0.9;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 9999;
}

.cursor_follower {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-color: #2E3828;
  opacity: 0.7;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 9999;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
.progress_bar {
  height: 3px;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 99999;
  background-color: #2E3828;
}

#header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom: 2px solid #2E3828;
  z-index: 999;
  transition: all 0.2s ease-in;
}
#header.active {
  background-color: rgba(255, 255, 255, 0.5);
}
#header .header {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nanum Myeongjo", serif;
}
#header .header .main_logo {
  width: 5%;
  height: 100%;
  line-height: 68px;
  text-align: center;
}
#header .header .main_logo a {
  font-size: 2rem;
  font-weight: 800;
}
#header .header .gnb {
  width: 75%;
  height: 100%;
  display: flex;
}
#header .header .gnb .gnb_link_list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header .gnb .gnb_link_list .link_item {
  width: 200px;
  height: 100%;
  position: relative;
  line-height: 68px;
}
#header .header .gnb .gnb_link_list .link_item:before, #header .header .gnb .gnb_link_list .link_item:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  transition: all 0.4s ease-out;
  background-color: #2E3828;
  z-index: -1;
}
#header .header .gnb .gnb_link_list .link_item:before {
  top: 0;
}
#header .header .gnb .gnb_link_list .link_item:after {
  bottom: 0;
}
#header .header .gnb .gnb_link_list .link_item:hover:before, #header .header .gnb .gnb_link_list .link_item:hover:after {
  width: 100%;
  height: 50%;
}
#header .header .gnb .gnb_link_list .link_item:hover a {
  color: #fff;
  transition: all 0.4s ease-out;
}
#header .header .gnb .gnb_link_list .link_item a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}
#header .header .pf {
  width: 5%;
  height: 100%;
  line-height: 68px;
  text-align: center;
  font-size: 1.4rem;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
#about1 {
  width: 100%;
}
#about1 .about1 {
  width: 100%;
  height: 90vh;
}
#about1 .about1 .about_visual {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about1 .about1 .about_slog {
  width: 60%;
  height: 40%;
  position: relative;
  padding-left: 30px;
}
#about1 .about1 .about_slog .slog {
  font-size: 7rem;
  font-weight: 400;
  font-family: "Chosunilbo_myungjo", serif;
}
#about1 .about1 .about_slog .split_slog {
  position: absolute;
  top: 100px;
  left: 30px;
}
#about1 .about1 .about_slog .split_slog .slog2, #about1 .about1 .about_slog .split_slog .slog3 {
  position: relative;
  display: inline-block;
  font-size: 9rem;
  font-weight: 700;
  font-family: "Nanum Myeongjo", serif;
}
#about1 .about1 .about_slog .split_slog .slog2::after, #about1 .about1 .about_slog .split_slog .slog3::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  width: 3px;
  height: 60%;
  display: block;
  transform: translateY(-50%);
  background-color: #000;
  animation: cursor 0.5s steps(2, end) infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#about1 .about1 .about_slog .slog4 {
  padding-left: 200px;
}
#about1 .about1 .about_slog .slog5 span {
  border-bottom: 2px solid #2E3828;
}
#about1 .about1 .profil {
  width: 40%;
  height: 100%;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}
#about1 .about1 .profil img {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  -o-object-fit: cover;
     object-fit: cover;
}

#about2 {
  width: 100%;
  border-top: 2px solid #2E3828;
  border-bottom: 2px solid #2E3828;
}
#about2 .inner {
  padding-left: 0;
}
#about2 .about2 {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Chosunilbo_myungjo", serif;
}
#about2 .about2 .about_title {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #2E3828;
}
#about2 .about2 .about_title .tit {
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 400;
}
#about2 .about_desc {
  padding-left: 50px;
  width: 70%;
  text-align: justify;
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 400;
}
#about2 .about_desc .intro {
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 1px solid #2E3828;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
#skill {
  width: 100%;
  border-bottom: 2px solid #2E3828;
}
#skill .skill {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Nanum Myeongjo", serif;
}
#skill .skill .skill_title {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  border-left: 2px solid #2E3828;
}
#skill .skill .skill_title .tit {
  text-align: center;
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 400;
}
#skill .skill .skill_list {
  width: 70%;
  height: 100%;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
#projects {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #2E3828;
}
#projects .projects {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
#projects .projects .projects_title {
  width: 100%;
  font-family: "Nanum Myeongjo", serif;
}
#projects .projects .projects_title .tit {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 400;
}
#projects .projects .hor_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 400vw;
  height: 90vh;
}
#projects .projects .hor_wrap .hor_item_slide {
  width: 50vw;
  height: 92%;
  display: flex;
  border-left: 1px solid #aaa;
}
#projects .projects .hor_wrap .hor_item_slide:last-child {
  border-right: 1px solid #aaa;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .site_tit {
  font-family: "Chosunilbo_myungjo", serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .site_tit span {
  font-size: 4.6rem;
  font-weight: 400;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top {
  display: flex;
  flex-direction: column;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_desc {
  width: 95%;
  margin-bottom: 30px;
  line-height: 1.618;
  font-family: "Pretendard-Regular", serif;
  font-size: 1.8rem;
  font-weight: 300;
  word-break: normal;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_desc p {
  display: flex;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_desc p span {
  padding-left: 15px;
  font-size: 1.8rem;
  font-weight: 300;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns {
  padding-top: 5px;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn {
  width: 150px;
  position: relative;
  padding: 6px 0;
  margin-left: 30px;
  color: #2E3828;
  background-color: transparent;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.3s ease-in;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn span {
  padding-left: 10px;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:first-child {
  margin-left: 0;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:before, #projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #2E3828;
  transition: all 0.25s ease-in;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:before {
  transform: translateX(-3px) translateY(3px);
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:after {
  transform: translateX(3px) translateY(-3px);
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:hover {
  background-color: #2E3828;
  color: #fff;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:hover:before, #projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_top .site_btns .site_link_btn:hover:after {
  transform: translateX(0) translateY(0);
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_bottom {
  width: 100%;
  height: 60%;
  display: flex;
}
#projects .projects .hor_wrap .hor_item_slide .hor_item .hor_item_bottom .img_box {
  position: relative;
  width: 70%;
  height: 80%;
  align-self: flex-end;
  background-size: 130% 100%;
  transition: all 0.2s ease-in;
  border: 1px solid #ddd;
}
#projects .projects .hor_wrap .slide1 .hor_item_bottom .img_box {
  background: url("../images/site1-pc.jpg") no-repeat center center;
}
#projects .projects .hor_wrap .slide2 .hor_item_bottom .img_box {
  background: url("../images/site2-pc.jpg") no-repeat center center;
}
#projects .projects .hor_wrap .slide3 .hor_item_bottom .img_box {
  width: auto;
  height: auto;
  background: url("../images/site3-pc.jpg") no-repeat center center;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
#contact {
  width: 100%;
}
#contact .contact {
  width: 100%;
  height: 100vh;
}
#contact .contact .contact_title {
  width: 100%;
}
#contact .contact .contact_title .tit {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 400;
}
#contact .contact .contact_info {
  width: 100%;
  height: 70%;
  display: flex;
}
#contact .contact .contact_info .contact_desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px 0 0 50px;
  font-family: "Chosunilbo_myungjo", serif;
  font-size: 4rem;
  font-weight: 400;
}
#contact .contact .contact_info .contact_desc .desc_list_top .desc_list2 {
  padding-left: 30px;
}
#contact .contact .contact_info .contact_desc .desc_list_center {
  padding-left: 30px;
}
#contact .contact .contact_info .contact_desc .desc_list_center .desc_list3 {
  font-family: "Pretendard-Regular", serif;
  font-size: 3rem;
  font-weight: 400;
}
#contact .contact .contact_info .contact_desc .desc_list_center .desc_list3 .angle_down {
  margin-top: 10px;
  margin-left: 55px;
}
#contact .contact .contact_info .contact_desc .desc_list_bottom .tel, #contact .contact .contact_info .contact_desc .desc_list_bottom .email {
  padding-left: 10px;
  border-left: 3px solid #2E3828;
  font-family: "Pretendard-Regular", serif;
  font-size: 3rem;
  font-weight: 300;
}
#contact .contact .contact_info .contact_desc .desc_list_bottom .email {
  margin-top: 20px;
}
#contact .contact .contact_info .sub_profile {
  width: 50%;
}
#contact .contact .contact_info .sub_profile .img_box {
  width: 400px;
  height: 560px;
  position: relative;
  margin: 60px auto 0;
}
#contact .contact .contact_info .sub_profile .img_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  transform: rotate(0deg);
  background-color: #eee;
}
#contact .contact .contact_info .sub_profile .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(5deg);
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
}
#footer {
  width: 100%;
  border-top: 2px solid #2E3828;
}
#footer .footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Nanum Myeongjo", serif;
}
#footer .footer .copy {
  width: 80%;
  text-align: center;
  font-size: 1.4rem;
}
#footer .footer .footer_link_wrap {
  display: flex;
}
#footer .footer .footer_link_wrap .footer_link {
  display: flex;
  margin-left: 30px;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}
#footer .footer .footer_link_wrap .footer_link svg {
  width: 20px;
  height: 20px;
}
#footer .footer .footer_link_wrap .footer_link span {
  display: inline-block;
  padding-left: 5px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.4rem;
}/*# sourceMappingURL=Style.css.map */