@charset "utf-8";
@import "./Variable";

#about1 {
    width: 100%;

    .about1 {
        width: 100%;
        height: 90vh;

        .about_visual {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .about_slog {      
            width: 60%;
            height: 40%;
            position: relative;
            padding-left: 30px;

            .slog {
                @include fontSizeWeight(7rem, 400);
                font-family: $ffC;
            }
            .split_slog {
                position: absolute;
                top: 100px;
                left: 30px;
                
                .slog2, .slog3 {
                    position: relative;
                    display: inline-block;
                    @include fontSizeWeight(9rem, 700);
                    font-family: $ffN;
    
                    &::after {
                        content: '';
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        width: 3px;
                        height: 60%;
                        display: block;
                        transform: translateY(-50%);
                        background-color: #000;
                        animation: cursor .5s steps(2, end) infinite;
                    }
                    @keyframes cursor {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
            .slog4 {
                padding-left: 200px;
            }
            .slog5 {
                span {
                    border-bottom: 2px solid $prim;
                }
            } 
        }
        .profil {
            width: 40%;
            height: 100%;
            background-color: #eee;
            position: relative;
            overflow: hidden;

            img { 
                width: 100%;
                height: 100%;
                transform: scaleX(-1);
                object-fit: cover;
            }
        }
    }
}

#about2 {
    width: 100%;
    border-top: 2px solid $prim;
    border-bottom: 2px solid $prim;

    .inner {
        padding-left: 0;
    }
    .about2 {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $ffC;

        .about_title {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 2px solid $prim;

            .tit {
                line-height: 1;
                @include text(center, uppercase);
                @include fontSizeWeight($fs_11, 400);
            }
        } 
    }
    .about_desc {
        padding-left: 50px;
        width: 70%;
        @include fontSizeWeight($fs_9, 400);
    }
}
