@charset "utf-8";
@import "./Variable";

#about1 {
    width: 100%;
    // padding-bottom: 30px;

    .about1 {
        width: 100%;

        .about_visual {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .about_slog {      
            width: 60%;
            position: relative;

            // .bg-img1 {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     z-index: -1;

            //     img { opacity: .3; }
            // }

            .slog {
                @include fontSizeWeight(10rem, 400);
                font-family: $ffC;
            }
            .slog2 {
                margin-left: 200px;
            }
        }
        .profil {
            width: 40%;
            height: 100%;
            background-color: #eee;
            position: relative;
            overflow: hidden;

            img { 
                width: 100%;
                height: 100%;
                transform: scaleX(-1);
                object-fit: cover;
            }
        }
    }
}

#about2 {
    width: 100%;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    
    .about2 {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $ffC;

        .about_title {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 30px;
            border-right: 2px solid #333;

            .tit {
                line-height: 1;
                text-align: center;
                text-transform: uppercase;
                @include fontSizeWeight($fs_11, 400);
            }
        }

        .about_desc {
            padding-left: 50px;
            width: 70%;
            @include fontSizeWeight($fs_9, 400);
        }
    }
}