@charset "utf-8";
@import "./Variable";

#contact {
    width: 100%;
    background-color: $prim;
    
    .contact {
        width: 100%;
        height: 100%;

        .contact_title {
            width: 100%;
            height: 100%;

            .tit {
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                @include fontSizeWeight($fs_11, 400);
            }
        }

        .contact_desc {
            width: 70%;
            font-family: $ffN;
        }
    }
}