@charset "utf-8";

@import "./Variable";

.header {
    height: 100vh;
    display: flex;

    .main_profil {
        width: 700px;
        height: 85vh;
        background-color: #eee;

        span {
            background-image: url("../../public/images/main.jpg") no-repeat;
            background-size: cover;
        }
    }

    .gnb {
        // width: 20vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid #aaa;
        border-left: 1px solid #aaa;

        .main_logo { 
            margin-top: 40px;

            h2 {
                padding-right: 50px;
                transform: rotate(-90deg); 
            }
        }

        .gnb_link_list {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            font-family: "Roboto", serif;

            li span {
                width: 100%;
                height: 100%;
                display: inline-block;
                transform: rotate(-90deg);
                padding: 50px 0;
                font-weight: 400;
                font-size: $fs_3;
            }
        }
    }
}