@charset "utf-8";
@import "./Variable";

.header_progress_bar {
    height: 3px;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 99999;
    background-color: $prim;
}

#header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid $prim;
    z-index: 999;
    transition: all .2s ease-in;

    .header {
        width: 100%;
        height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $ffN;

        .main_logo { 
            width: 5%;
            height: 100%;
            line-height: 68px;
            text-align: center;
            
            a {
                @include fontSizeWeight($fs_4, 800);
            }
        }
        .gnb {
            width: 75%;
            height: 100%;
            display: flex;

            .gnb_link_list {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .link_item { 
                    width: 200px;
                    height: 100%;
                    position: relative;
                    line-height: 68px;
                    
                    &:before, &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        transition: all .4s ease-out;
                        background-color: $prim;
                        z-index: -1;
                    }
                    &:before { top: 0; }
                    &:after { bottom: 0; }
                    &:hover:before,  &:hover:after {
                        width: 100%;
                        height: 50%;
                    }
                    &:hover a {
                        color: #fff;
                        transition: all .4s ease-out;
                    }
                    
                    a {
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        text-align: center;
                        @include fontSizeWeight($fs_3, 700);
                    }
                }

            }
        }
        .pf { 
            width: 5%;
            height: 100%;
            line-height: 68px;
            text-align: center;
            font-size: $fs_1; 
        }
    }
}