@charset "utf-8";
@import "./Variable";

#projects {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid $prim;

    .projects {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;

        .projects_title {
            width: 100%;
            font-family: $ffN;

            .tit {
                padding: 30px 0;
                color: $acc;
                @include text(center, uppercase);
                @include fontSizeWeight($fs_11, 400);
            }
        }

        .hor_wrap {
            display: flex;
            flex-wrap: wrap;
            width: 400vw;
            height: 90vh;

            .hor_item_slide {
                width: 50vw;
                height: 92%;
                display: flex;
                border-left: 1px solid #aaa;
                
                &:last-child {
                    border-right: 1px solid #aaa;
                }

                .hor_item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0 40px;

                    .site_tit {
                        font-family: $ffC;
                        @include text(left, uppercase);
                        @include fontSizeWeight(5rem, 400);

                        span {
                            @include fontSizeWeight(4.6rem, 400);
                        }
                    }
                    .hor_item_top {
                        display: flex;
                        flex-direction: column;

                        .site_desc {
                            width: 95%;
                            margin-bottom: 30px;
                            line-height: 1.618;
                            font-family: $ffPR;
                            @include fontSizeWeight($fs_3, 300);
                            word-break: normal;          

                            p {
                                display: flex;
                                
                                span {
                                    padding-left: 15px;
                                    @include fontSizeWeight($fs_3, 300);
                                }
                            }
                        }
                        .site_btns {
                            padding-top: 5px;

                            .site_link_btn {
                                width: 150px;
                                position: relative;
                                padding: 6px 0;
                                margin-left: 30px;
                                color: $prim;
                                background-color: transparent;
                                font-family: $ffN;
                                @include fontSizeWeight($fs_4, 700);
                                transition: all .3s ease-in;

                                span {
                                    padding-left: 10px;
                                }

                                &:first-child {
                                    margin-left: 0;
                                }
                                &:before, &:after {
                                    content: '';
                                    position: absolute;
                                    left: -1px;
                                    top: -1px;
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid $prim;
                                    transition: all .25s ease-in;
                                }
                                &:before {
                                    transform: translateX(-3px) translateY(3px);
                                }
                                &:after {
                                    transform: translateX(3px) translateY(-3px);
                                }
                                
                                &:hover {
                                    background-color: $prim;
                                    color: #fff;

                                    &:before, &:after {
                                        transform: translateX(0) translateY(0);
                                    }
                                }
                            }
                        }
                    }
                    .hor_item_bottom {
                        width: 100%;
                        height: 60%;
                        display: flex;

                        .img_box {
                            position: relative;
                            width: 70%;
                            height: 80%;
                            align-self: flex-end;
                            background-size: 130% 100%;
                            transition: all .2s ease-in;
                            border: 1px solid #ddd;
                        }
                    }
                }
                
            }
            .slide1 {
                .hor_item_bottom {
                    .img_box {
                        background: url("../images/site1-pc.jpg") no-repeat center center;
                    }
                }
            }
            .slide2 {
                .hor_item_bottom {
                    .img_box {
                        background: url("../images/site2-pc.jpg") no-repeat center center;
                    }
                }
            }
            .slide3 {
                .hor_item_bottom {
                    .img_box {
                        width: auto;
                        height: auto;
                        background: url("../images/site3-pc.jpg") no-repeat center center;
                    }
                }
            }
        }
    }
}