@charset "utf-8";
@import "./Variable";

#skill {
    width: 100%;
    border-bottom: 2px solid $prim;
    
    .skill {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        font-family: $ffN;

        .skill_title {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 30px;
            border-left: 2px solid $prim;

            .tit {
                @include text(center, uppercase);
                @include fontSizeWeight($fs_11, 400);
            }
        }

        .skill_desc {
            width: 70%;
            font-family: $ffN;
        }
    }
}