@charset "utf-8";

@import "./Mixin";
// 웹폰트 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// font-size
$fs_1: 1.4rem;
$fs_2: 1.6rem;
$fs_3: 1.8rem;
$fs_4: 2rem;
$fs_5: 2.2rem;
$fs_6: 2.4rem;
$fs_7: 2.6rem;
$fs_8: 2.8rem;
$fs_9: 3rem;
$fs_10: 6rem;
$fs_11: 12rem;

// font-family
$ffN: 'Nanum Myeongjo', serif;
$ffC: 'Chosunilbo_myungjo', serif;

// color
$background: #ffffff;
$prim: #2E3828;

// inner padding
$inner: 0 30px;
