@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

// font-size
$fs_1: 1.4rem;
$fs_2: 1.6rem;
$fs_3: 1.8rem;
$fs_4: 2rem;
$fs_5: 2.2rem;
$fs_6: 2.4rem;
$fs_7: 2.6rem;
$fs_8: 2.8rem;
$fs_9: 3rem;
$fs_10: 6rem;
$fs_11: 30rem;

// color
$background: #ffffff;
$text: #333333;

// inner padding
